target/
site/
venv/
docs/*md
docs/types/
*/my_schema.*
.env
.venv
local/

# jupyter backups
.ipynb_checkpoints/

.DS_Store

# PyCharm project config
.idea/

*.old

# emacs backup files
*~

# ignore files needed for pypi distribution
__pycache__/
build/
dist/
*.egg-info/
*.egg

# ignore temp files
tmp/
temp/
*.tmp
*.temp

# temp files create during extract process
temp-mirror.owl
temp-mireot.owl
temp-star-pain.owl

# copied for .gitignore created by ODK
*.tmp
*.tmp.obo
*.tmp.owl
*.tmp.json

src/ontology/mirror
src/ontology/mirror/*
src/ontology/reports/*
src/ontology/neio.owl
src/ontology/neio.obo
src/ontology/neio.json
src/ontology/neio-base.*
src/ontology/neio-basic.*
src/ontology/neio-full.*
src/ontology/neio-simple.*
src/ontology/neio-simple-non-classified.*

src/ontology/seed.txt
src/ontology/dosdp-tools.log
src/ontology/ed_definitions_merged.owl
src/ontology/ontologyterms.txt
src/ontology/simple_seed.txt
src/ontology/patterns
src/ontology/merged-neio-edit.owl

src/ontology/target/
src/ontology/tmp/*
!src/ontology/tmp/README.md

src/ontology/imports/*_terms_combined.txt

src/patterns/data/**/*.ofn
src/patterns/data/**/*.txt
src/patterns/pattern_owl_seed.txt
src/patterns/all_pattern_terms.txt